[placeholder]::-webkit-input-placeholder {
  color: #e6e6e6; }
[placeholder]:-moz-placeholder {
  color: #e6e6e6; }
[placeholder]::-moz-placeholder {
  color: #e6e6e6; }
[placeholder]:-ms-input-placeholder {
  color: #e6e6e6; }

body {
  font-size: 20px;
  color: #404040; }

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800; }

a {
  color: #404040; }
  a:hover, a:focus {
    color: #31a16a; }

a img:hover, a img:focus {
  cursor: zoom-in; }

blockquote {
  color: gray;
  font-style: italic; }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white; }

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  .navbar-custom .navbar-brand {
    font-weight: 800; }
  .navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .navbar-custom {
      background: transparent;
      border-bottom: 1px solid transparent; }
      .navbar-custom .navbar-brand {
        color: white;
        padding: 20px; }
        .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
          color: #e6e6e6; }
      .navbar-custom .nav li a {
        color: white;
        padding: 20px; }
        .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
          color: #e6e6e6; } }
  @media only screen and (min-width: 1170px) {
    .navbar-custom {
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      transition: background-color 0.3s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s; }
        .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
          color: #31a16a; }
        .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
          color: #31a16a; }
      .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

.intro-header {
  background-color: gray;
  background: no-repeat center center;
  background-attachment: scroll;
  margin-bottom: 50px; }
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 100px 0 50px;
    color: white; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading,
      .intro-header .post-heading,
      .intro-header .page-heading {
        padding: 150px 0; } }
  .intro-header .site-heading,
  .intro-header .page-heading {
    text-align: center; }
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
      margin-top: 0;
      font-size: 50px; }
    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      font-weight: 300;
      margin: 10px 0 0; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading h1,
      .intro-header .page-heading h1 {
        font-size: 80px; } }
  .intro-header .post-heading h1 {
    font-size: 35px; }
  .intro-header .post-heading .subheading {
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600; }
  .intro-header .post-heading .meta {
    font-style: italic;
    font-weight: 300;
    font-size: 20px; }
    .intro-header .post-heading .meta a {
      color: white; }
  @media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
      font-size: 55px; }
    .intro-header .post-heading .subheading {
      font-size: 30px; } }

.post-preview > a {
  color: #404040; }
  .post-preview > a:hover, .post-preview > a:focus {
    text-decoration: none;
    color: #31a16a; }
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px; }
.post-preview > .post-meta {
  color: gray;
  font-size: 18px;
  font-style: italic;
  margin-top: 0; }
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #404040; }
    .post-preview > .post-meta > a:hover, .post-preview > .post-meta > a:focus {
      color: #31a16a;
      text-decoration: underline; }
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px; } }

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700; }

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

footer {
  padding: 50px 0 65px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0; }

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none; }
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #31a16a; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee; }

.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }

.btn-default:hover, .btn-default:focus {
  background-color: #31a16a;
  border: 1px solid #31a16a;
  color: white; }

.pager {
  margin: 20px 0 0; }
  .pager li > a,
  .pager li > span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0; }
  .pager li > a:hover,
  .pager li > a:focus {
    color: white;
    background-color: #31a16a;
    border: 1px solid #31a16a; }
  .pager .disabled > a,
  .pager .disabled > a:hover,
  .pager .disabled > a:focus,
  .pager .disabled > span {
    color: gray;
    background-color: #404040;
    cursor: not-allowed; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #31a16a; }

::selection {
  color: white;
  text-shadow: none;
  background: #31a16a; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #31a16a; }

.search-wrapper {
  margin-top: 10px;
  width: 100%;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  float: right; }
  .search-wrapper .search {
    height: 40px;
    border: 1px solid #31a16a;
    background-color: rgba(49, 161, 106, 0.6);
    color: white;
    box-shadow: none;
    border-radius: 0; }

.search-wrapper-mobile {
  display: none;
  position: absolute;
  top: 7px;
  right: 65px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  width: 144px;
  left: inherit;
  border: 1px solid #ddd;
  height: auto;
  border-radius: 4px; }
  .search-wrapper-mobile .search {
    background-color: rgba(49, 161, 106, 0.8);
    border-right: 7px solid rgba(49, 161, 106, 0);
    background-image: url("../img/search_white.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 26px 26px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 34px;
    padding-right: 30px; }
  .search-wrapper-mobile .search:hover {
    background-color: #31a16a;
    background-image: url("../img/search_white.svg"); }

.search-wrapper-mobile:hover {
  left: 5px;
  width: inherit !important; }

.search-wrapper:hover {
  width: 100%;
  background-color: #31a16a; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #8eddb6; }

article .post-heading h1, article .post-heading h2, article .post-heading .meta {
  background: rgba(0, 0, 0, 0.6);
  display: inline;
  line-height: 1.5em; }
article .post-heading h2 {
  paddgin: 3px 0; }
article .post-heading .meta {
  line-height: 2.3em;
  padding: 5px 0; }

@keyframes headerBg {
  from {
    background-position: left; }
  to {
    background-position: right; } }
.ct-widget.ct-ignition.ct-widget--active {
  margin-top: 60px; }

.edit-tools {
  margin-top: -45px; }

@media only screen and (min-width: 768px) {
  .search-wrapper {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px; }

  .navbar-default {
    background: rgba(0, 0, 0, 0.5); }

  header {
    background-position: left; } }
@media only screen and (max-width: 768px) {
  .search-wrapper {
    display: none;
    width: 30%; }

  .search-wrapper-mobile {
    display: block; } }
add {
  top: 80px;
  position: relative; }

articles {
  position: relative; }
  articles .post-heading h1 {
    color: #31a16a;
    margin-bottom: 0; }
    articles .post-heading h1 .highlight {
      color: white;
      background-color: rgba(49, 161, 106, 0.8); }
  articles .post-heading h2 {
    text-align: center;
    background-color: rgba(49, 161, 106, 0.8); }
  articles .red {
    color: #ff3842; }

chat .bottom-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px; }
  chat .bottom-panel .start-chat-button {
    background: #31a16a;
    padding: 5px 10px;
    cursor: pointer;
    color: white; }
  chat .bottom-panel .messages-box {
    height: 200px;
    background: white;
    border: 1px solid #31a16a; }

login > div {
  text-align: center;
  margin-top: 100px; }

/*# sourceMappingURL=style.css.map */
