<div class="container-fluid" *ngIf="false">
    <div class="col-sm-4">
        <a [routerLink]="['Articles']">
            <h1>Orenic's blog</h1>
        </a>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="input-group search-wrapper">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" class="form-control search" placeholder="Čo hľadáte?"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="searchPhrase" (keyup)="search()">
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="search-wrapper-mobile">
                <input type="text" class="form-control search"
                       aria-describedby="basic-addon1" [(ngModel)]="searchPhrase" (keyup)="search()">
            </div>
            <a class="navbar-brand" [routerLink]="['Articles']">Orenic's blog</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="showLogout">
                    <a href="#" (click)="logout()">
                        Odhlásiť
                    </a>
                </li>
                <li *ngIf="showLogout">
                    <a href="#" (click)="addEmptyArticle()">
                        Pridať článok
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="index.html">Home</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="about.html">About</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="contact.html">Contact</a>-->
                <!--</li>-->
                <li>
                    <div class="search-wrapper">
                        <input type="text" class="form-control search" placeholder="Hľadám..."
                               aria-describedby="basic-addon1" [(ngModel)]="searchPhrase" (keyup)="search()">
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
