articles {
  position: relative;

  .post-heading {
    h1 {
      color: $brand-primary;
      margin-bottom: 0;
      .highlight {
        color: $white-text;
        background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.8);
      }
    }

    h2 {
      text-align: center;
      background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.8);
    }
  }
  .red {
    color: #ff3842;
  }
}