chat {
  .bottom-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;

    .start-chat-button {
      background: $brand-primary;
      padding: 5px 10px;
      cursor: pointer;
      color: $white-text;
    }

    .messages-box {
      height: 200px;
      background: $white-text;
      border: 1px solid $brand-primary;
    }
  }

}