.search-wrapper {
  margin-top: 10px;
  width: 100%;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  float: right;

  .search {
    height: 40px;
    border: 1px solid $brand-primary;
    background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.6);
    color: $white-text;
    box-shadow: none;
    border-radius: 0;
  }
}

.search-wrapper-mobile {
  display: none;
  position: absolute;
  top: 7px;
  right: 65px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  width: 144px;
  left: inherit;
  border: 1px solid #ddd;
  height: auto;
  border-radius: 4px;

  .search {
    background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.8);
    border-right: 7px solid rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0);
    background-image: url('../img/search_white.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 26px 26px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 34px;
    padding-right: 30px;

  }

  .search:hover {
    background-color: $brand-primary;
    background-image: url('../img/search_white.svg');
  }
}

.search-wrapper-mobile:hover {
  left: 5px;
  width: inherit !important;
}

.search-wrapper:hover {
  width: 100%;
  background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 1);
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: lighten($brand-primary, 30%);
}

article {
  .post-heading {
    h1, h2, .meta {
      background: rgba(0, 0, 0, 0.6);
      display: inline;
      line-height: 1.5em;
    }
    h2 {
      paddgin: 3px 0;
    }

    .meta {
      line-height: 2.3em;
      padding: 5px 0;
    }
  }
}

@keyframes headerBg {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

header:hover {
  //background-position:right;

}

.ct-widget.ct-ignition.ct-widget--active {
  margin-top: 60px;
}

.edit-tools {
  margin-top: -45px;
}

@media only screen and (min-width: 768px) {
  .search-wrapper {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .navbar-default {
    background: rgba(0, 0, 0, 0.5);
  }

  header {
    background-position: left;
    //-webkit-transition:background-position 10s linear;
    //-moz-transition:background-position 10s linear;
    //-o-transition:background-position 10s linear;
    //transition:background-position 10s linear;

    //animation-duration: 30s;
    //animation-name: headerBg;
    //animation-iteration-count: infinite;
    //animation-direction: alternate;
    //animation-timing-function: linear;
  }
}

@media only screen and (max-width: 768px) {
  .search-wrapper {
    display: none;
    width: 30%;
  }
  .search-wrapper-mobile {
    display: block;
  }
}

