// Mixins

@mixin transition-all()
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin serif()
{
	font-family: 'Lora', 'Times New Roman', serif;
}

@mixin sans-serif()
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// create placeholder mixin
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}



// use placeholder mixin (size param is optional)
[placeholder] {
  @include placeholder(darken($white-text, 10%));
}