<!-- Page Header -->
<header class="intro-header" style="background-image: url({{article.img}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 (click)="showEditTitle=!showEditTitle" contentEditable="{{([canEdit])}}" class="article-title">
                        {{article.title}}</h1><br>
                    <h2 class="subheading" (click)="showEditSubtitle=!showEditSubtitle" contentEditable="{{canEdit}}"
                        class="article-perex">
                        {{article.perex}}</h2><br>
                    <span class="meta">Pridané používateľom <a href="http://orenic.me">Jozef Orenič</a> dňa {{article.date_formatted}}</span>
                </div>

            </div>
        </div>
    </div>
</header>
<div *ngIf="canEdit" class="edit-tools">
    <ul>
        <li class="pull-left col-xs-4">
            <input type="file" [ng-file-select]="options" (onUpload)="handleUpload($event)"></li>
        <li class="pull-left  col-xs-4"><input id="article-enabled" type="checkbox" [(ngModel)]="article.enabled">
            <label for="article-enabled">Zverejniť</label></li>
        <li class="pull-left  col-xs-4">
            <button class="btn-danger btn-sm" (click)="deleteArticle()">Vymazať článok</button>
        </li>
    </ul>
</div>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" data-editable data-name="main-content"
                 [innerHTML]="article.text">
            </div>
        </div>

    </div>
</article>

<hr>