<div class="container-fluid">
    <form (ngSubmit)="!logining && login()">
        <div class="form-group">
            <input placeholder="Admin heslo" [(ngModel)]="password" required>
        </div>
        <button type="submit">Prihlásiť</button>
    </form>
</div>