<div>
    <div class="container-fluid">
        <form>
        <div class="article-img-wrapper col-xs-12">
            <img src="{{article.img}}">
            <input type="file"
                   [ng-file-select]="options"
                   (onUpload)="handleUpload($event)">

            <div>
                Response: {{ uploadFile | json }}
            </div>
        </div>
        <input class="col-xs-12 article-add-title" type="text" [(ngModel)]="article.title" placeholder="Title" required>
        <textarea class="col-xs-12 article-add-perex" [(ngModel)]="article.perex" rows="5"
                  placeholder="Perex" required></textarea>
        <textarea class="col-xs-12" [(ngModel)]="article.text" placeholder="Text" rows="15" required></textarea>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add article</button>
        </div>
        </form>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form>
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Required permissions</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <input type="text" [(ngModel)]="password" placeholder="password" required>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" (click)="addArticle()" data-dismiss="modal">
                            Finish
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>