<!-- Page Header -->
<header class="intro-header" style="background-image: url('./img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>
                        Blog.<span class="highlight">orenic</span>.me</h1><br>
                    <h2 class="subheading">
                        - blog o tom, čo robím -</h2><br>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" *ngFor="#item of items">
                <a [routerLink]="['ArticleDetail', {url: item.url}]">
                    <h2 class="post-title">
                        {{item.title}} <span class="red" *ngIf="!item.enabled"> - nezverejnený</span>
                    </h2>
                    <h3 class="post-subtitle">
                        {{item.perex}}
                    </h3>
                </a>
                <p class="post-meta">Pridané používateľom <a href="http://orenic.me">Jozef Orenič</a> dňa {{item.date_formatted}}</p>
            </div>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Staršie príspevky &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

